* {
    font-family: 'Source Sans Pro', sans-serif;
  }  


/**
Header
**/

.nav-wrapper {
    background-color: rgb(14, 12, 12);
    .brand-logo {
        left: 20px;
    }
}

.myClassName {
    font-size: 15px;
    width: 100px; 
}
.Dropdown-control {
    background-color: black;
    color: white;
    border: none;
    height: 64px;
    padding-left: 35px;
}
.Dropdown-menu{
    display:flex;
    flex-direction: column;
}
.myOptionClassName{
    
}
.Dropdown-option {
    padding: 0;
    height: 70px!important;
}
/**
Welcome
**/

.welcome-background {
    background-image: url(../assets/arreglosya2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    text-align: center;
    width: auto;
    height: 880px;

    .welcome-container {
        padding-top: 220px;
    }

    h2 {
      margin: 0;
      padding-bottom: 20px;
    }
  }
  .boton-ingreso {
      background-color: #B93131;
  }
/**
Home
**/
.home-container {
    display: flex;
    height: 100%;
}

/**
Sidebar
**/
.sidebar {
    height: 880px; /* 100% Full-height */
    width: 320px; /* 0 width - change this with JavaScript */
    background-color: #D4D2D2;

    a {
        padding: 8px 8px 8px 15px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }

      a:hover {
        color: #f1f1f1;
      }

      .sidabar-text {
          font-size: 25px;
          color: black;
      }
  }

  /**
People-Container
**/

.people-container {
    display: flex;
    flex-direction: row;
}

/**
People
**/
.card-container {
    width: 20.5%!important;
    margin: 60px 25px 0 15px;

    img {
        height: 200px;
    }
    .card-title {
        display:flex;
        text-align: left;
        padding: 0!important;
        color: #2284D9!important;
    }
}
  